.link {
  margin-right: 15px;
}

.autocompleteStyling {
  display: none;
  margin: -20px auto 0;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  background-color: #e5e5e5;
  color: #434348;
}

.autocompleteItems {
  text-align: left;
  overflow: auto;
  font-size: 1.5rem;
  margin: 30px auto 0;
  max-height: 300px;
  color: #434348;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #333337;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #626269;
    border-radius: 9em;
  }
}
