.modal,
.black {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background-color: #e5e5e5;
  color: #434348;
  margin: auto;
  width: 400px;
  height: fit-content;
  border-radius: 20px;
  padding: 50px;
  z-index: 3;
  font-weight: 200;
  & h2 {
    font-family: "Arvo", sans-serif;
    font-weight: 700;
    margin: 0 0 50px;
  }
  & h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 140%;
  }
  & span {
    font-family: "Arvo", sans-serif;
    font-weight: 400;
  }
  & button {
    font-family: "Arvo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #e5e5e5;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0;
    &:nth-of-type(1) {
      background-color: #333337;
      margin: 30px 0 20px;
      &:hover {
        background-color: #626269;
      }
    }
    &:nth-of-type(2) {
      background-color: #bdbdbe;
      &:hover {
        background-color: #626269;
      }
    }
  }
}

.black {
  background-color: #2a2c35;
  z-index: 2;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
